<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="center">
        <div class="form">
            <div class="form-element">
                <h6>Enter Data</h6>
                <input type="text" id="data-ip">
            </div>
            <div class="form-element">
                <button>Generate QR Code</button>
            </div>
        </div>
        <div class="qr-img">
            <img src="">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>